<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Diary Project</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" href="css/bootstrap.min.css">
    <style>
        .container{
            max-width: 700px;        }
        a{
            text-decoration: none;
        }
    </style>
    <script src="js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
    <script src="js/bootstrap.bundle.min.js" th:src="@{/js/bootstrap.bundle.min.js}" type="text/javascript"></script>
</head>

<body>
<div class="container">
    <h1 class="my-4 text-center">모두의 다이어리 Blog</h1>
    <div class="row mb-4">
        <h6 class="col text-center align-items-center m-auto">누구나 읽고, 쓰는 일기장</h6>
        <div class="col m-auto" th:if="${loginMember != null}">
            <span th:text="|환영합니다. ${loginMember.name} 님|"></span>
            <button class="btn btn-primary btn-sm" onclick="location.href='/logout'">로그아웃</button> </h6>
            <button onclick="location.href='/posts'" class="btn btn-dark col btn-sm">글쓰기</button>
        </div>
        <div class="col text-lg-center align-items-center" th:if="${loginMember == null}">
            <button onclick="location.href='/login'" class="btn-info btn col btn-sm">로그인</button>
            <button onclick="location.href='/signup'" class="btn-primary btn col btn-sm">회원가입</button>
            <button onclick="location.href='/posts'" class="btn btn-dark col btn-sm">글쓰기</button>
        </div>
    </div>

    <table class="w-100">
        <div class="container">
            <div class="row">
                <div class="col">번호</div>
                <div class="col">제목</div>
                <div class="col">글쓴이</div>
                <div class="col">날짜</div>
            </div>
            <div class="row align-items-start border rounded-pill py-2 my-2 w-100" th:each="post:${postList.list}">
                <div class="col" th:text="${postList.pagination.getTotalRecordCount()} - (${search.page} - 1) * ${search.recordSize} - ${postStat.index}">1</div>
                <a class="col" th:href="@{|/posts/${post.getId()}|}"><div th:text="${post.getTitle()}"></div></a>
                <div class="col" th:text="${post.getMemberName()}">작성자</div>
                <div class="col" th:text="${post.getCreateAt()}">시간</div>
            </div>
        </div>
    </table>

    <div class="row">
        <a th:href="@{|?page=${local}|}" th:class="col" th:if="${postList.pagination.isExistPrevPage()}" th:with="local=${search.page}-1" th:text="이전"></a>
        <a th:href="@{|?page=${local}|}"  th:class="col" th:each="num:${#numbers.sequence(0, 9)}" th:text="${postList.pagination.getStartPage()}+${num}" th:with="local=${postList.pagination.getStartPage()}+${num}">1</a>
        <a th:href="@{|?page=${local}|}" th:class="col" th:if="${postList.pagination.isExistNextPage()}"  th:with="local=${search.page}+1"  th:text="다음"></a>
    </div>

</div>

</body>
</html>