<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Diary Project</title>
</head>
<body>

<button th:if="${memberId == null}" onclick="location.href='/login';">로그인</button>
<button th:if="${memberId == null}" onclick="location.href='/signup';">회원가입</button>
<h2 th:if="${memberId != null}">안녕하세요 <span th:text="${memberId}"></span>님!</h2>


<h1>여기는 홈페이지 환영합니다!</h1>

<div>
    <li>
        <span>순서1</span>
        <p>제목1</p>
        <span>시간1</span>
    </li>
    <li>
        <span>순서1</span>
        <p>제목1</p>
        <span>시간1</span>
    </li>
    <li>
        <span>순서1</span>
        <p>제목1</p>
        <span>시간1</span>
    </li>
</div>
</body>
</html>